:root {
	--bg: #090909;
	--bg-alt: #121212;
	--title: #EEE;
	--subtitle: #EEE;
	--text: #EEE;
	--link: #EEE;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--bg);
	color: var(--text);
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
	font-size: 16px;
}

.container {
	max-width: 767px;
	margin: 0 auto;
	padding-bottom: 50px;
	background-color: var(--bg-alt);
}

@media (max-width: 767px) {
	.container {
		max-width: 100%;
	}
}

.item {
	margin-bottom: 50px;
}

video {
	display: block;
	width: 100%;
	height: auto;
}

.description {
	margin-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.title-container {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.title {
	color: var(--title);
	font-family: 'Epilogue', sans-serif;
	font-weight: 200;
	font-size: 60px;
	margin-bottom: 0;
}

.subtitle {
	font-family: 'Lato', sans-serif;
	font-weight: 800;
	font-style: italic;
	font-size: 20px;
	color: var(--subtitle);
	margin-top: 5px;
	margin-left: 0px;
	margin-bottom: 20px;
}

.video-title {
	font-family: 'Epilogue', sans-serif;
	font-weight: 400;
	font-size: 18px;
	font-style: italic;
	padding-top: 10px;
	margin-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

.navigation {
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
	font-family: 'Epilogue', sans-serif;
	font-weight: 200;
	font-size: 20px;
	text-align: right;
}

.nav-link {
	margin-left: 20px;
}

a {
	color: var(--link);
	font-weight: 300;
}


.cv-title {
	font-family: 'Epilogue', sans-serif;
	font-weight: 400;
	font-size: 22px;
	font-style: italic;
	padding-top: 10px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

.cv-subtitle {
	font-family: 'Epilogue', sans-serif;
	font-weight: 400;
	font-size: 16px;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 20px;
	margin-top: 10px;
}

.cv-subtitle p {
	margin: 0;
	padding: 0 0 5px 0;
}

.cv-date {
	font-family: 'Epilogue', sans-serif;
	font-weight: 400;
	font-size: 14px;
	padding-top: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-left: 0px;
	padding-right: 20px;
}

.cv-image {
	padding-top: 10px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	width: 75px;
	height: 75px;
}

.cv-job-title-container {
	display: flex;
	margin-top: 30px;
}